img{
    width: 20%;
    border-radius: 50%;
}
header{
    
    background-color: rgb(184, 233, 233);
    display: flex;
    justify-content: space-between;
    align-items: left;


}
ul{
    display: flex;
}
li{
    flex-direction: row;
    list-style: none;
    padding: 4px;
}
li:hover{
    font-size: 18px;
}
